In [1]:
print('Hello
      ')

Hello

In [2]:
days = 36()

TypeError: 'int' object is not callable

In [3]:
days = 365

In [7]:
days

365

In [8]:
spain = 95
france = 82
canada =75

In [9]:
print(canada
    )

75

In [10]:
spain

95

In [11]:
france

82

In [13]:
france

82

In [14]:
# Entier / integer

In [19]:
france = 123


###

In [20]:
spain

95

In [21]:
france

123

In [22]:
# entier / integer

In [23]:
france = 123

In [27]:
france = 124

In [28]:
france

124

In [29]:
#type

In [30]:
france_type = type(france)
print(france_type)

<class 'int'>

In [31]:
# float

In [32]:
france_exact = 122.5

In [33]:
print(france_exact
     )

122.5

In [34]:
france_type = type(france_exact)

In [35]:
print(france_exact)

122.5

In [36]:
# string

In [39]:
hello = 'hello'
hello_type = type(hello)
print(hello_type)

<class 'str'>

#

In [40]:
#boolean

In [41]:
true_type = True
false_type = False
print(true_type)

True

In [42]:
print(type(true_type))

<class 'bool'>

In [43]:
# convert data type
# str () et int ()

In [44]:
int_to_str = str(2)

In [45]:
print(int_to_str)

2

In [46]:
print(type(int_to_str))

<class 'str'>

In [47]:
# addition

In [48]:
somme = 23+ 2

In [49]:
print(somme)

25

In [50]:
# puissance

In [51]:
square = 5

In [52]:
squared = square **2

In [53]:
print(squared)

25

In [54]:
# division

In [55]:
# create list

In [56]:
months = []

In [57]:
# append()

In [58]:
months.append("janvier")
months.append("fev")
months.append("sep")

In [59]:
print(months)

['janvier', 'fev', 'sep']

In [60]:
print(type(months))

<class 'list'>

In [61]:
months = []

In [62]:
months.append(1)
months.append("janvier")
months.append(2)
months.append("F")
months.append(3)

In [63]:
print(months)

[1, 'janvier', 2, 'F', 3]

In [64]:
months_2 = [1,2,3,4,"ok","parfait"]
print(months_2)

[1, 2, 3, 4, 'ok', 'parfait']

In [65]:
# recuperer une valeur dans une liste

In [66]:
years = [2013,2014,2015]

In [69]:
first_value = years[0]
second_value = years[1]
third_value = years[2]
print(second_value, second_value,third_value, first_value)

2014 2014 2015 2013